/.cdtproject
/.cproject
/.project
/.settings
/cfg
/folders
/ini
/nvram
/mess/obj
/*.exe
/*.dll
/*.ini
/mess.chm
/*.map
/snap
/*.pdb
/*.sym
/games
/bios
/build
*.bc
/systems/*.mak
/helpers/*.txt
/helpers/mess64
/helpers/cfg
/helpers/*.tmp
