<html>
	<head>
		<title>MESS in a browser!</title>
<script type='text/javascript' src='modernizr-custom.js'></script>
<script type='text/javascript'>
Modernizr.addTest('typedarray', function(){
  return (window.Float64Array != undefined);
});
Modernizr.load({
	test: Modernizr.canvas && Modernizr.typedarray,
	yep : [
		'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
		'jquery.url.js',
		'messloader.js'
	],
	nope : 'messfail.js'
});
</script>
</head>
<body>
	<h1 style="text-align: center;">MESS in a browser!</h1>
	<div id='canvasholder' style="text-align: center;">
	</div>
	<div id='status' style="display:block;"></div>
	<div id='output' style="display:block;"></div>
	<hr>
	<b>What exactly am I looking at?</b><p>
	You are looking at a javascript version of the <a href="http://www.mess.org">MESS emulator</a>, a program that emulates hundreds of machine types and will, eventually, be capable of running most known computer software programs. What you see here (and if you don't see anything, we apologize) is a Colecovision emulator running the homebrew Colecovision cartridge "<a href="http://www.digitpress.com/forum/showthread.php?89906-CV-Cosmo-Fighter-2-A-Review">Cosmo Fighter 2</a>", in demo mode.
	<p>
	<b>Why can't I...</b>
	<p>
	Do anything? Run other stuff? Mostly, it's because we're using this to work out the bugs, and things like keyboard input, speed, and running other computer/console architectures are not currently enabled. We hope to get that working soon. We chose Cosmo Fighter 2 because it activates a demo mode and actually scrolls through things.
	<p>
	<b>Seriously, I don't see anything.</b>
	<p>
	This definitely works in the latest Google Chrome browser, and probably in any browser that supports javascript typed arrays (though there are known performance / crash issues with Firefox at the moment). Note that we're <i>not</i> using the NaCL (Native Client) application that Google Chrome uses - this is mostly related to how different browsers handle this amount of Javascript. 
        <p>It also has been shown to work in very, very new version of Apple's Safari browser. It also sort of works in some late version of FireFox, but the memory usage is currently henious beyond belief (and being worked on). Opera is able to sort of run it, but it's slow and problematic.
        <p>The plan, naturally, is to work in most if not all modern browsers that reasonably implement Javascript and HTML5. We'll keep it updated. If you find it works on your browser, <a href="mailto:jsmess@textfiles.com">let us know</a>.
	<p>
	<b>How did you...</b>
	<p>
	Multiple people have worked for months to port MESS to Javascript, and we still have a long way to go, but it was time to share. Huge thanks to Justin de Vesine, Alon Zakai, and Justin Kerk.
</body>
</html>

